# .coveragerc to control coverage.py
[run]
omit = 
    # Don't need to test settings/config files.
    core/settings.py
    core/prod_settings.py

    # Don't test migrations
    */migrations/*.py

    # Don't need to test Django built-in code.
    manage.py
    core/wsgi.py
    */apps.py
